/* VARIABLES */
:root {
    /* colors */
    --color-red-dark: #ff000080;
    --color-orange-dark: #ff77005e;
    --color-red-vibrant: #ff0000;
    --color-orange-vibrant: #ff7700;
    --text-color-white: #ffffff;
    --secondary-color-black: #010108;
    --text-color-white-dark: #930000;
    /* gradients */
    --radial-gradient-red: radial-gradient(circle at 0 0, var(--color-red-dark), transparent 40%);
    --radial-gradient-orange: radial-gradient(circle at 100% 0, var(--color-orange-dark), transparent 40%);
    --vib-red-to-vib-orange-gradient: linear-gradient(236deg, var(--color-red-vibrant) 20.53%, var(--color-orange-vibrant) 86.31%);

    /* sizes */
    --header-height: 4rem;
    /* borders */
    --tab-bar-background: linear-gradient(90deg, rgba(255, 255, 255, 0.50) -1.52%, rgba(0, 0, 0, 0.00) 109.98%);
}

/* CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

img {
    display: block;
    max-width: 100%;
}

button {
    all: unset;
    cursor: pointer;
}

h3,
h4 {
    max-width: 30ch;
    text-wrap: balance;
}

p,
li {
    max-width: 50ch;
    text-wrap: pretty;
}

/* BODY */
body {
    min-height: 100svh;
    font-family: Inter, sans-serif;
    overflow-x: hidden;
    background-color: var(--secondary-color-black);
    color: var(--text-color-white);
    position: relative;
}

section {
    height: max-content;
    margin-bottom: 3rem;
}

/* HEADER */
#header {
    padding: 20px;
    padding-top: 30px;
}

.desktop-nav {
    display: flex;
    justify-content: space-around;
}

.nav-link-container {
    flex-grow: 1;
    text-align: center;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: var(--text-color-white);
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link::after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--text-color-white);
    transition: width 0.3s;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link:hover::after,
.nav-link:focus::after {
    width: 100%;
}

/* hamburger */
/* px are used instead of rem due to the specific cross animation */
.hamburger {
    position: relative;
    display: none;
    width: 35px;
    z-index: 100;
}

.hamburger>.ham-bar,
.hamburger::after,
.hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--text-color-white);
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger.active>.ham-bar {
    opacity: 0;
}

.hamburger.active::after {
    transform: rotate(-45deg) translate(3px, -12px);
}

.hamburger.active::before {
    transform: rotate(45deg) translate(3px, 12px);
}

@media screen and (max-width: 594px) {
    .hamburger {
        display: block;
    }

    .desktop-nav {
        display: none;
    }
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    /* background-color: #010108; */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding-top: 180px;
    transition: transform 0.4s;

    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.mobile-nav .nav-link-container {
    flex: 0;
}

.mobile-nav.active {
    transform: translateX(0);
}

body.hide-overflow {
    overflow: hidden;
}

/* HERO */
#hero {
    height: 100vh;
    padding-top: 10vh;
    gap: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hero__text {
    max-width: 800px;
    line-height: 1.2;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 0 8%;
}

#number {
    margin: 0;
    padding: 10px;
    font-size: 20vw;
    font-style: italic;
    font-weight: 700;
    background: linear-gradient(to right, var(--color-orange-vibrant), var(--color-red-vibrant), var(--color-orange-vibrant));
    background-size: 200% auto;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientLoop 4s linear infinite;
}

/* arrows */
.hero__scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.scroll-text {
    font-style: italic;
    color: var(--color-red-vibrant);
    opacity: 50%;
    text-decoration: none;
}

.hero__arrows {
    width: 60px;
    height: 72px;
    margin-top: 1.5rem;
}

.arrow {
    stroke: var(--color-red-dark);
    fill: transparent;
    stroke-width: 2px;
    -webkit-animation: arrow 2s infinite;
    animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    30% {
        opacity: 1
    }

    60% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes gradientLoop {
    to {
        background-position: 200% center;
    }
}

.arrow-1 {
    animation-delay: -1s;
}

.arrow-2 {
    animation-delay: -0.5s;
}

/* GRADIENTS */
.background-gradient {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-image: var(--radial-gradient-red), var(--radial-gradient-orange);
}

#mouse-follower {
    position: fixed;
    z-index: -1;
    height: 200px;
    width: 200px;
    background-image: radial-gradient(var(--color-red-dark), transparent 100%);
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    transform: translate(-50%, -50%);
    filter: blur(100px);
}

body:hover #mouse-follower {
    opacity: 1;
}

.text-gradient {
    /* fallback */
    color: #fff;
    background: var(--vib-red-to-vib-orange-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* TAB BOILERPLATE */

.h-tab {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    width: 100vw;
    background-color: rgb(1, 1, 8, 0.5);
    padding: 24px;
    position: sticky;
    top: 10px;
    z-index: 100;
}

.h-tab-after {
    margin: 0 8%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.h-tab-info {
    display: flex;
}

.h-tab-digit,
.h-tab-text {
    font-size: 1rem;
    font-weight: 400;
    width: max-content;
    padding: 0 1rem;
}

.h-tab-digit {
    border-right: solid 1px var(--text-color-white);
}

.h-tab-bar {
    height: 1.5px;
    width: 100%;
    background: var(--tab-bar-background);
}

/* TAB Text */
.tab-text {
    margin: 0 5%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}

.text-big {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.text-small {
    font-size: 1.25rem;
    font-weight: 400;
}

/* TAB Visuals */
.tab-visuals {
    height: max-content;
}

.visuals__left {
    position: relative;
    /* max-width: 75%; */
    min-width: 250px;
}


.about-image-bg {
    /* padding: 10px; */
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 400px;
    z-index: -1;
    background: var(--vib-red-to-vib-orange-gradient);
    box-shadow: -10px 10px 10px var(--color-red-dark);
    border-radius: 16px;
}

.about-image>img {
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
    padding: 10px;
}


/* ABOUT */
#about {
    padding-bottom: 2rem;
}

.about__tab-digit {
    color: var(--color-red-dark);
    border-color: var(--color-red-dark);
}


.about__visuals {
    margin-left: 5%;
}

.visuals-image-wrapper {
    width: 519.951px;
    height: 340.517px;
    transform: rotate(176.092deg);
    flex-shrink: 0;
}

.visuals-image {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;

}

/* WORK */
.work__h-tab,
.work__tab-info {
    flex-direction: row-reverse;
}

.work__tab-digit {
    color: var(--color-red-dark);
    border-right: none;
    border-left: 1px solid var(--color-red-dark);
}

.work__tab-bar {
    transform: rotate(180deg);
}

.work__text {
    align-items: flex-end;
}

.work__text-big,
.work__text-small {
    text-align: right;
}

/* work visuals */
#work {
    display: flex;
    flex-direction: column;
}

.work__visual-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    padding: 0 1rem;
}

.work__visual-frame {
    display: flex;
    justify-content: center;
}

.visual-content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.work__visual-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 8px;
}

.work__visual-title {
    font-size: 1.5rem;
    font-weight: 700;

}

/* work image */
.work__visual-img-container {
    padding: 1rem;
    background: var(--vib-red-to-vib-orange-gradient);
    border: 1px solid rgba(134, 134, 134, 0.10);
    border-radius: 10px;
    box-shadow: -10px 10px 25px 0px var(--color-orange-dark);
    max-width: 30rem;
    border-radius: 16px;
}

.work__visual-img {
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

/* BALL ANIMATION */

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    position: absolute;
    z-index: -100;
    filter: blur(30px);
}

/* TEST CSS */
.content {
    height: 100vh;
    background-color: aqua;
}

/* MEMBER PAGE*/

.member-title {
    text-align: center;
    font-size: 70px;
    padding-bottom: 50px;
    font-weight: 600;
}

.members {
    --width: 250px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--width), 1fr));
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    margin: 0 50px;
}

.member {
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-pane {
    width: 100%;
    max-width: var(--width);
    height: 80%;
    background: linear-gradient(236deg, rgb(255, 0, 0, 0.5) 20.53%, rgb(255, 119, 0, 0.5) 86.31%);
    position: absolute;
    bottom: 0;
    border-radius: 24px;
    box-shadow: -10px 10px 25px 0px var(--color-orange-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.profile-picture {
    height: 120px;
    width: 120px;
    background-color: black;
    border: 5px solid rgb(255, 0, 0, 0.5);
    border-radius: 100px;
    overflow: hidden;
}

.member-name {
    margin-top: 30%;
    font-size: 36px;
    padding: 10px;
    color: var(--text-color-white)
}

.member-about {
    margin-bottom: 10%;
    font-size: 18px;
}

.profile-picture>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* MOBILE FRIENDLY CHANGES */

@media screen and (max-width: 594px) {

    .text-big,
    .text-small {
        text-align: center;
    }

    .text-small {
        font-size: 1.5rem;
    }

    .tab-visuals {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .work__visual-container {
        flex-direction: column;
    }

    .work__visual-frame {
        align-items: center;
    }
}

a:active {
    text-decoration: none;
}